.Dice {
    border: 5px solid rgb(151, 224, 151);
    height: 600px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}


.RollDice{
  text-align: center;
}

.noBorder {
    text-align: center;
    color: #000;
    border: solid 2px transparent;
    padding: 5px 5px 5px 5px;
    margin: 5px 0px 5px 0;
}
.withBorder {
    text-align: center;
    color: #000;
    border: solid 2px #5afc03;
    padding: 5px 5px 5px 5px;
    margin: 5px 0px 5px 0;
}
.StartGame {
    margin-top: 250px;
}

.startGameButton {
    background-color: rgb(151, 224, 151);
    color: black;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}
