.Profile {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 5%;
}

.ProfileImage {
    float: left;
    height: 150px;
    width: 150px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(180, 180, 180);
}

.Profile th tr {
    text-align: center;
}
