.AboutUs {

    /* align-content: center; */
    /* padding-top: 50px; */
    padding-bottom: 15%;
    /* text-align: center; */
}

#Intro {
    margin-left: auto;
    margin-right: auto;
    width: 60%; 
    padding-bottom: 3%   
}

.AboutUs p {
    color: black;
    display: inline;
    text-align: center;
    
    
}

