.Home {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.Home p {

    
    
}

#gameComponent {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.JoinGameButton {
    margin-bottom: 5%;
    
    
}

#joinGame {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#nameArea {

}

#IntroParagraph {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}