.Chat {
    border: 5px solid rgb(151, 224, 151);
    height: 61%;
    width: 300px;
    float: left;
    margin-left: auto;

}

.ChatTitle {
    font-weight: bold;
}

.ChatSpace{
    /* border: 5px solid rgb(180, 182, 180); */
    height: 70%;
    width: 100%;
}

.ChatTyping {
    /* border: 3px solid rgb(101, 129, 101); */
    height: 20%;
}

#chatSpace {
    resize: none;
    width: 95%;
    height: 95%;
}

#chatTyping {
    resize: none;
    width: 95%;
    height: 98%;
}