.Footer {
    bottom: 0;
    position: fixed;
    color: white;
    background-color: #222;
    width: 100%;
    display: flex;
    align-items:center;
    margin-top: -3em;
    z-index: 9;
}

#text {   
    margin-left: 10%;
    width: 60%;
}

.logo {
    height: 100px;
    width: 200px;
    float: left;
    /* padding: 10px; */
}

#authors {
    font-size: 11px;
    font-family: 'Muli', sans-serif;
}


#MSTeams {
    font-size: 13px;
}




.Footer a {color: white;}
.Footer a:hover{color: #01490a}


