.Card{
    border: 5px solid rgb(151, 224, 151);
    height: 680px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.ScoreCardTable td{
    border: 1px solid black;
    border-collapse: collapse;
}

.ColumnSelected{
  color: black;
  font-weight: bold;
}

.Column {
  color: green;

}
